.jio {
    background-color: green;
    color: yellow;
    size: 30px;
}

.hideeeeee {
    display: flex;
    justify-content: center ;
    size;
}

.fox {
    width: 100%;
}

.fox >img {
    width: 100%;
}

.jo {
    color: chocolate;
    padding: 30px;
}

#c{
    display: none;
}

#x{
    display: none;
}
